/UserLogin/nbproject/private/
/UserLogin/build/
/MenuDrivenStudent/nbproject/private/
/MenuDrivenStudent/build/
/JavaApplication4/nbproject/private/
/StudentManagementPrepared/nbproject/private/
/StudentManagementPrepared/build/
/InsertUpdateDelete/nbproject/private/
/JFrameExample/nbproject/private/
/InsertUpdateDelete/build/
/JFrameExample/build/
/StudentManagementCallable/nbproject/private/
/StudentManagementCallable/build/
/MetaDataExample/nbproject/private/
/MetaDataExample/build/
/SingleClientServer/nbproject/private/
/Client/nbproject/private/
/UserAuthenticationServlet/nbproject/private/
/Practical5/build/
/Practical5/nbproject/private/
/GenerateResult/nbproject/private/
/UserAuthenticationServlet/build/
/GenerateResult/build/
/HadoopWordCount/target/
/SingleClientServer/build/
/Client/build/
/URLRedirect/nbproject/private/
/URLRedirect/build/
/UserAuthenticationJSP/nbproject/private/
/UserAuthenticationJSP/build/
/BankInformationManagement/nbproject/private/
/CalculatorWebService_Server/nbproject/private/
/CalculatorWebService_Server/build/
/CalculatorWebService_Server/dist/
/CalculatorWebService_Client/nbproject/private/
/CalculatorWebService_Client/build/
/CalculatorWebService_Client/dist/