/UserLogin/nbproject/private/
/UserLogin/build/
/MenuDrivenStudent/nbproject/private/
/MenuDrivenStudent/build/
/JavaApplication4/nbproject/private/
/StudentManagementPrepared/nbproject/private/
/StudentManagementPrepared/build/
/InsertUpdateDelete/nbproject/private/
/JFrameExample/nbproject/private/
/InsertUpdateDelete/build/
/JFrameExample/build/
/StudentManagementCallable/nbproject/private/
/StudentManagementCallable/build/
/MetaDataExample/nbproject/private/
/MetaDataExample/build/
/SingleClientServer/nbproject/private/
/Client/nbproject/private/
/UserAuthenticationServlet/nbproject/private/
/Practical5/build/
/Practical5/nbproject/private/
/GenerateResult/nbproject/private/
/UserAuthenticationServlet/build/
/GenerateResult/build/