/UserLogin/nbproject/private/
/UserLogin/build/
/MenuDrivenStudent/nbproject/private/
/MenuDrivenStudent/build/
/JavaApplication4/nbproject/private/
/StudentManagementPrepared/nbproject/private/
/StudentManagementPrepared/build/
/InsertUpdateDelete/nbproject/private/
/JFrameExample/nbproject/private/
/InsertUpdateDelete/build/
/JFrameExample/build/